<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.qingniu.health.qnscalesdk">

    <!--蓝牙权限-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!--6.0及之后需要动态申请-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--用来存储日志-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--如果是在线的sdk需要网络权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--新sdk需要网络权限-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <!--ble扫描服务-->
        <service
            android:name="com.qingniu.qnble.scanner.BleScanService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <!--ble连接服务-->
        <service
            android:name="com.qingniu.scale.measure.ble.ScaleBleService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <!--broadcast连接服务-->
        <service
            android:name="com.qingniu.scale.measure.broadcast.ScaleBroadcastService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <!--wsp连接服务-->
        <service
            android:name="com.qingniu.scale.wsp.ble.ScaleWspBleService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name="com.qingniu.scale.measure.broadcast.ScaleFoodBroadcastService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <!--身高一体机服务-->
        <service
            android:name="com.qingniu.heightscale.ble.HeightScaleBleService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>
